name: Update README

on:
  push:
    branches:
      - master
    paths:
      - apps/*/README.md
      - base/*/README.md

jobs:
  sync-readme:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0 # 获取完整历史记录

      - name: Prepare
        id: prepare
        uses: aliuq/script-action@v1
        with:
          auto_install: true
          script: |
            import fs from 'node:fs'
            import path from 'node:path'

            const gcwd = process.env.GITHUB_WORKSPACE

            // 获取最近一次提交的文件
            const changedFiles = await execCommand(`git -C ${gcwd} diff-tree --no-commit-id --name-only -r HEAD`)
            await core.group('Changed files', async () => core.info(changedFiles))

            // 过滤出 README.md 文件
            const files = changedFiles.split('\n').filter(file => file.match(/^apps\/.*\/README\.md$/))
            await core.group('README.md files', async () => core.info(files.join('\n')))

            if (!files.length) {
              core.info('No README.md files changed')
              core.setOutput('status', 'success')
              process.exit(0)
            }

            const readmePath = files[files.length - 1]
            const appDir = path.dirname(readmePath)
            const metaFile = path.join(gcwd, appDir, 'meta.json')
            const meta = JSON.parse(fs.readFileSync(metaFile, 'utf-8'))

            const variants = Object.values(meta.variants)
            const skip = meta.skip || !variants.some(variant => !variant?.skip)

            if (skip) {
              core.info(`Meta indicates to skip README sync for ${meta.name}`)
              core.setOutput('status', 'success')
              process.exit(0)
            }

            // 判断是否存在推送到 Docker Hub 的镜像
            const hasDockerHubImage = variants.some(variant => {
              const images = variant.docker?.images || []
              if (!images.length) return true
              return images.some(image => image.startsWith('aliuq/'))
            })

            if (!hasDockerHubImage) {
              core.info('No Docker Hub images found, skipping README sync')
              core.setOutput('status', 'success')
              process.exit(0)
            }

            const data = {
              repo: `aliuq/${meta.name}`,
              readme_path: path.join(appDir, 'README.md')
            }

            await core.group('JSON Output', async () => core.info(JSON.stringify(data, null, 2)))
            outputJson(data)

      - name: Sync README
        uses: peter-evans/dockerhub-description@v4
        if: steps.prepare.outputs.repo != '' && steps.prepare.outputs.readme_path != ''
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
          repository: ${{ steps.prepare.outputs.repo }}
          readme-filepath: ${{ steps.prepare.outputs.readme_path }}
